<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div *ngIf="tasks.length > 0" class="list-group">
        <div *ngFor="let task of tasks" class="list-group-item d-flex justify-content-between align-items-center">
          <span [class.text-decoration-line-through]="task.completed">
            <ng-container *ngIf="!task.isEditing">{{ task.name }}</ng-container>
            <input *ngIf="task.isEditing" [(ngModel)]="task.name" type="text" class="form-control" />
          </span>
          <div>
            <button (click)="toggleCompletion(task)" class="btn btn-sm btn-success mr-2">
              {{ task.completed ? 'Undo' : 'Complete' }}
            </button>
            <button *ngIf="!task.isEditing" (click)="editTask(task)" class="btn btn-sm btn-warning mr-2">
              Edit
            </button>
            <button *ngIf="task.isEditing" (click)="saveTask(task)" class="btn btn-sm btn-primary">
              Save
            </button>
            <button (click)="deleteTask(task)" class="btn btn-sm btn-danger">Delete</button>
          </div>
        </div>
      </div>
      <p *ngIf="tasks.length === 0" class="text-center">No tasks available. Please add a task!</p>
    </div>
  </div>
</div>
